.logo_agriassist {
  margin-top: 3vh;
  width: 30%;
}
.img_profil {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-top: 3vh;
}
.haut_de_page {
  display: flex;
  align-items: center;
  height: 12vh;
  justify-content: space-evenly;
  margin-bottom: 4vh;
  margin-top: 3vh;
}

.adresse_mail_img_profil {
  font-family: 'Montserrat';
  text-align: center;
  font-size: 16px;
  color: black;
}
.espace_identification_profil {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .logo_agriassist {
    width: 50%;
  }
  .img_profil {
    width: 90px;
    height: 90px;
  }
  .adresse_mail_img_profil {
    font-size: 9px;
  }
  .haut_de_page {
    margin-top: 2vh;
}
}