.container__menu {
  position: relative;
  height: 100vh;
  background: linear-gradient(#ffffff, #bcbdcf);
}

.container__quatrebloc {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  height: 50vh;
}
.bloc {
  display: flex;
  width: 40%;
  background-color: #3d85c6;
  flex-wrap: wrap;
  margin-top: 1rem;
  height: 150px;
  border-radius: 20px;
  justify-content: space-around;
  border: 5px solid rgb(255, 255, 255);
}
.bloc__logo1, .bloc__logo2, .bloc__logo3, .bloc__logo4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50%;
  margin: auto auto;
  background-image: url(./src/fondparcmateriel.jpg);
  background-size: contain;
  background-repeat: round;
  border-radius: 5px;
  box-shadow:  5px 5px 5px black;
}
.bloc__logo2 {
  background-image: url(./src/fondprofil.jpg);
}
.bloc__logo3 {
  background-image: url(./src/fondgeoloca.jpg);
}
.bloc__logo4 {
  background-image: url(./src/fonddoc.jpg);
}
.bloc p {
  font-family: 'Montserrat';
  text-align: center;
  font-size: 14px;
  color: white;

}
.fas {
  font-size: 50px;
}
.fa-sign-out-alt {
  position: absolute;
  font-size: 40px;
  right: 20px;
  top: 58px;
}

.container__depannage {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 20px;
  margin: 4rem auto 0px auto;
  background-color:  #FBA000;
}
#Qr__Code_Menu {
  height: 5em;
  width: auto;
  border-radius: 10px;
  opacity: 1;
  padding: 10px 10px;
}
h2{
    font-size: 20px;
    font-family: 'Montserrat';
    color: white;

}
.fa-phone-volume{
    font-size:  50px;
    color: white;
}