.OPM_container {
  position: relative;
}

.OPM_blue_trait {
  width: 100%;
  height: 3vh;
  background-color: var(--blueColor);
  margin-top: 3rem;
}

.OPM_image_profil {
  border-radius: 50%;
  width: 25%;
  height: 97px;
  position: absolute;
  top: -30px;
  left: 160px;
}

.OPM_title {
  text-align: center;
  margin-top: 3rem;
  font-size: 22px;
  color: #3d86c6;
  font-family: 'Montserrat';
}

.OPM_infos {
  background-color: #3d86c6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid white;
  border-radius: 30px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  max-width: 80%;
  padding: 2rem;
  margin: 1em auto;
  font-family: 'Montserrat';
  font-size: 16px;
}
.OPM_infos p {
  color: black;
}
.OPM_infos span {
  color: white;
}
.pdf__bymodele {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pdf__bymodele i {
  margin-right: 1vh;
  color: rgba(255, 0, 0, 0.815);
  font-size: 30px;
  cursor: pointer;
}
.pdf__bymodele p {
  font-size: 35px;
  font-style: italic;
}
.btn__submit__modify {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Montserrat';
  text-align: center;
  font-size: 14px;
  color: black;
  background-color: rgb(231, 160, 6);
  border-radius: 20px;
  width: 30vh;
  box-shadow: 5px 3px 3px black;
  padding: 10px 0;
  margin: 2rem auto 2rem auto;
}

@media screen and (min-width: 1024px) {
  .OPM_title {
    font-size: 32px;
  }

  .OPM_infos {
    font-size: 20px;
  }
  .btn__submit__modify {
    font-size: 18px;
  }
}
