@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
.container__pageconnection{
    background: linear-gradient(#ffffff, #3d85c6);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }

  #img__logo{
      margin: 5rem auto 2rem auto;
      opacity: 1;
      width: 80%;
      border-radius: 10px;
  }
  
  .container__pageconnection input {
      width: 75%;
      height: 5vh;
      margin: 0rem auto;
      border-radius: 8px;
      border: none;
      opacity: 1;
  }

#input__one{
    margin-top: 6rem;
    padding: 5px;
    opacity: 1;
    font-family: 'Montserrat';
}

#input__two{
    margin-top: 2rem;
    padding: 5px;
    opacity: 1;
    font-family: 'Montserrat';
}
::placeholder{
    opacity: 1;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;

}

.container__authentification{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5rem auto 2rem auto;


}
.container__authentification .fas{
    font-size: 80px;
    color: black;
    padding: 16px 16px;
    background-color: #fff;
    border-radius: 10px;
    opacity: 1;

}


#Qr__Code{
    height: 7em;
    width: auto;
    border-radius: 10px;
    opacity: 1;

}

#btn__login__account {
    padding: 10px 10px;
    background: rgb(235, 96, 4);
    color: #fff;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    margin: 0px auto;
    border: none;
    border: 2px solid #fff;
    border-radius: 10px;
  }
