.blocMonMateriel {
  display: flex;
  width: 40%;
  /* background-color: #3d85c6; */
  background-color: #3d86c625;
  flex-wrap: wrap;
  margin-top: 1rem;
  height: 150px;
  border-radius: 20px;
  justify-content: space-around;
  border: 5px solid rgb(255, 255, 255);
}
.blocMonMateriel__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50%;
  margin: auto auto;
  background-image: url(./src/images/fondparcmateriel.jpg);
  background-size: cover;
  background-repeat: round;
  border-radius: 5px;
  box-shadow: 5px 5px 5px black;
  font-size: 40px;
}

.blocMonMateriel p {
  font-family: 'Montserrat';
  text-align: center;
  font-size: 14px;
  /* color: white; */
  color: black;
}

.materielName {
  font-family: 'Montserrat';
  text-align: center;
  font-size: 12px;
  color: black;
  flex-wrap: wrap;
}
.parc-image {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10vh;
  justify-content: space-between;
  margin-bottom: 4vh;
}

.parc-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  /* background-color: #3d85c6; */
  background-color: #3d86c625;
  font-size: 20px;
  font-family: 'Montserrat';
  color: black;
  border-radius: 20px;
  border: 5px solid rgb(255, 255, 255);
  margin-top: 10vh;
}

.image-trackteur {
  width: 40vw;
  border-radius: 20px;
}

.cadre-trackteur {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50vw;
  height: 20vh;
}

@media screen and (min-width: 1024px) {
  .blocMonMateriel {
    width: 25%;
    height: 150%;
    flex-direction: column;
  }
  .blocMonMateriel p {
    font-size: 25px;
  }

  .parc-header {
    height: 15vh;
  }
  .cadre-trackteur {
    height: 29vh;
  }
  .image-trackteur {
    width: 20vw;
  }
  .parc-image{
    flex-wrap: nowrap;
  }
}
