.menu_container {
  position: relative;
}

.trait_blue {
  width: 100%;
  height: 3vh;
  background-color: blue;
  margin-top: 3rem;
}

.profil_img {
  border-radius: 50%;
  width: 25%;
  height: 97px;
  position: absolute;
  top: -30px;
  left: 140px;
}

#user_name {
  text-align: center;
  margin-top: 4rem;
  font-size: 25px;
}

.quatrebloc__container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  height: 50vh;
}

.bloc_bloc {
  display: flex;
  width: 40%;
  background-color: blue;
  flex-wrap: wrap;
  margin-top: 1rem;
  height: 150px;
  border-radius: 20px;
  justify-content: space-around;
}

.logo__bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50%;
  margin: auto auto;
  background-color: #fff;
}

.bloc_bloc p {
  text-align: center;
}

.fas {
  font-size: 50px;
}

.fa-sign-out-alt {
  position: absolute;
  font-size: 40px;
  right: 20px;
  top: 40px;
}
